body {
  font-family: helvetica;
  text-align: center;
  margin: 0;
  background-color: black;
}

iframe {
  width: 240px;
  height: 155px;
  border: 5px solid #01ABAA;
  border-radius: 5px;
  background-color: #black;
}

header {
  width: 77.6vw;
  background-color: #FEDC3D;
  border-radius: 0 0 10px 10px;
  text-align: left;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
  max-height: 140px;
  position: fixed;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

header.shrink {
  padding-bottom: 20px;
  max-height: 50px;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

header.shrink button,
header.shrink input {
  opacity: 0;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

header.shrink h1 {
  font-size: 2rem;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

/*#header-container {
  -webkit-transition: all 0.5s ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 0.5s ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 0.5s ease-in;
  -moz-transform: scale(1);
  transition: all 0.5s ease-in;
  transform: scale(1);
}

#header-container.shrink {
  -webkit-transition: all 0.5s ease-in;
  -webkit-transform: scale(0.7);
  -ms-transition: all 0.5s ease-in;
  -ms-transform: scale(0.7);
  -moz-transition: all 0.5s ease-in;
  -moz-transform: scale(0.7);
  transition: all 0.5s ease-in;
  transform: scale(0.7);
}*/

h1 {
  letter-spacing: 0.2em;
  font-size: 4rem;
  font-weight: 400;
  color: #01ABAA;
  margin-top: 15px;
  padding-left: 40px;
  max-height: 74px;
  margin-bottom: 15px;
  width: auto;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

button {
  height: 33px;
  width: 85px;
  display: inline-block;
  margin: 0;
  border: 0;
  vertical-align: top;
  border-radius: 0 3px 3px 0;
  font-size: 17px;
  color: rgb(65, 65, 65);
  opacity: 1;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

input {
  height: 30px;
  width: 250px;
  display: inline-block;
  border: 0;
  margin: 0;
  vertical-align: top;
  border-radius: 3px 0 0 3px;
  font-size: 20px;
  color: rgb(65, 65, 65);
  margin-left: 40px;
  opacity: 1;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

input:focus {
  outline: 0;
}

input[type="text"] {
  padding-left: 8px;
}

.list {
  width: 80vw;
  margin: 0 auto;
  padding-top: 200px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gif {
  overflow: scroll;
  margin: 15px;
}
